absl-py==1.0.0
atomicwrites==1.4.1
attrs==21.4.0
black==23.1.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
cirq-core==1.0.0
cirq-google==1.0.0
click==8.1.3
colorama==0.4.6
coverage==6.4
cycler==0.11.0
deprecation==2.1.0
dill==0.3.4
duet==0.2.7
fonttools==4.31.2
google-api-core==1.31.5
google-auth==1.35.0
googleapis-common-protos==1.56.0
grpcio==1.44.0
h5py==3.6.0
idna==3.3
iniconfig==1.1.1
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
mpmath==1.2.1
multiprocess==0.70.12.2
mypy-extensions==1.0.0
networkx==2.7.1
numpy==1.22.3
openfermion==1.5.1
packaging==23.0
pandas==1.4.1
pathos==0.2.8
pathspec==0.11.0
Pillow==9.0.1
platformdirs==3.1.1
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
proto-plus==1.22.1
protobuf==3.19.4
PubChemPy==1.0.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.1
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
python-dateutil==2.8.2
pytz==2022.1
qsimcirq==0.14.1
qutip==4.6.3
requests==2.27.1
rsa==4.8
scipy==1.8.0
six==1.16.0
sortedcontainers==2.4.0
sympy==1.9
tomli==2.0.1
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.9
